/* #h,#a,#c{
    display: inline;
    margin-left: 40px;
}
ul{
    margin-left: 550px;
}
#head{
    border: 2px solid black;
    height: 50px;
    background-color: blueviolet;
    color: white;
}
img{
    float: left ;
} */
/* 
#foot{
    border: 2px solid black;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
}
#pc{
    border: 2px solid black;
    
    
}
#ts,#au{
    border: 2px solid black;
}
#au{
    width: 150px;
}
li{
    list-style-type: none;
    

} */


